.thumbnails {
    width: 120px;
}
body {
    display: flex;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
   
}
.container {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    flex: 1;
    
}
#header {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
    flex: 1;
}
.header-logo {
    padding-left: 20px;
}
ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 30px;
    margin-left: auto;
    font-size: 14px;
    font-weight: 600;
    padding-right: 10px;

}

.firstrow {
    display: flex;
    flex: 1;
    background-color: #1F2937;
    max-height: 300px;
    min-height: fit-content;
}
.textbox {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

#bigtext {
    font-size: 48px;
    font-weight: bolder;
    margin: 20px;
    
}
#smalltext {
    margin-left: 20px;
    margin-top: 15px;
}
.button-box {
    display: flex;
    align-items: flex-end;
    flex: 1;
}

button {
    background-color: rgb(144, 146, 23);
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    width: fit-content;
    border-radius: 10px;
    height: 30px;
    margin: 30px;
}

.firstimg {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    
    
}
#mainimg {
    width: 500px;
    margin: 40px;
    border-radius: 30px;
}

.secondrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: rgb(162, 168, 175);
    color: #F9FAF8;
    font-weight: 600;
}
#rowheader {
    font-size: 30px;
    margin: 20px;
}
.centerbox{
    display: flex;
    gap: 70px;
}

.imagebox {
    width: 120px;
    text-align: center;
    margin-bottom: 10px;
}
.thumbnails {
    border-color: rgb(12, 78, 119);
    border-style: solid;
    border-width: 4px;
    border-radius: 30px;
}

.thirdrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #45A29E;
    font-size: 16px;

}   
.quote {
    max-width: 50%;
    min-width: 50%;
    font-style: italic;
    color: azure;
    margin: 20px;

}
#author {
    text-align: right;
    font-weight: 600;
}

.fourthrow {
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    min-height: fit-content;
}

#fourthbox {
    display: flex;
    gap: 30px;
    height: 150px;
    width:800px;
    background-color: #1F2833;
    margin: 50px;
}

.fourth {
    color: #F9FAF8;
    margin: 25px;
    margin-left: 50px;
}
#fourthtitle {
    font-size: 20px;
    font-weight: 700;
}

.buttonbox2 {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
}

#footer {
    display: flex;
    justify-content: center;
    flex: 0 0 50px;
    margin-bottom: auto;
    align-items: center;
    color: white;
}

.topbot {
    background-color: #1F2937;
}
