.thumbnails {
    width: 120px;
}
body {
    display: flex;
    height: 100vh;
   
   
}
.container {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    flex: 1;
    margin: 0px;
}
.header {
    display: flex;
    align-items: center;
}
ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 30px;
    margin-left: auto;
}

.firstrow {
    display: flex;
    flex: 1;
}

.firstimg {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.secondrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.centerbox{
    display: flex;
    gap: 70px;
}
.imagebox {
    width: 120px;
}

.thirdrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   flex: 1;
.quote {
    max-width: 50%;
    min-width: 50%;
}
#author {
    text-align: right;
}

.fourthrow {
    display: flex;
    min-height: 10%;
    align-items: center;
    justify-content: center;
    flex: 1;
}

#fourthbox {
    display: flex;
    gap: 30px;
    
}

.footer {
    display: flex;
    justify-content: center;
    flex: 1 0 50px;
    margin-bottom: auto;
    align-items: flex-end;
}