.thumbnails {
    width: 120px;
}
body {
    display: flex;
    height: 100vh;
    font-family: sans-serif;
    margin: 0px;
   
}
.container {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    flex: 1;
    
}
#header {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
    flex: 1;
}
.header-logo {
    padding-left: 20px;
}
ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 30px;
    margin-left: auto;
    font-size: 14px;
    font-weight: 100;
    padding-right: 10px;

}

.firstrow {
    display: flex;
    flex: 1;
    background-color: #1F2937;
}
.textbox {
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
}

#bigtext {
    font-size: 48px;
    font-weight: bolder;
    
}
.button-box {
    display: flex;
    align-items: flex-end;
    flex: 1;
}
.firstimg {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.secondrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.centerbox{
    display: flex;
    gap: 70px;
}
.imagebox {
    width: 120px;
}


.thirdrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}   flex: 1;
.quote {
    max-width: 50%;
    min-width: 50%;
}
#author {
    text-align: right;
}

.fourthrow {
    display: flex;
    min-height: 10%;
    align-items: center;
    justify-content: center;
    flex: 1;
}

#fourthbox {
    display: flex;
    gap: 30px;
    
}

#footer {
    display: flex;
    justify-content: center;
    flex: 0 0 50px;
    margin-bottom: auto;
    align-items: center;
    color: white;
}

.topbot {
    background-color: #1F2937;
}
